:root {
    --cor-fundo: rgb(35, 87, 245);
    --cor-fundo-dark: rgb(32, 0, 161);
    --cor-fonte: white;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

.container{
    display: flex;
    background-color: var(--cor-fundo);
}

.tabuleiro {
    display: grid;
    grid-template-columns:33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 100%;
}

.grid {
    border: 2px solid red;
    min-height: 100px;
    min-width: 100px;
}